a{
    color: white;
    text-decoration:none;
}

div[class^="definition"]{
    width: 100%;
    background-color: #334C6A;
    min-height: 100px;
}

.Hometitle {
    background-color: #334C6A;
    color: aliceblue;
    border: solid black 3px ; 
    text-align: center;
    font-size: 3em;
    box-sizing: border-box;
    height: 150px;
    padding: 0%;
    display: flex;
    
}

.Hometitle a {
    margin: auto auto;

}
.Hometitle h2 {
    margin: auto auto;
    
}

p {
    font-size: 16px;
}


.Nav {
    background-color:  #334C6A;
    color: aliceblue;
    /* border: solid black 3px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
}

.Nav a{
    box-sizing: border-box;
    border: solid black 3px;
    width: calc(100% / 3);
    text-align:center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

body {
    background-image: url(images/Fishing\ pole\ pole.png);
    background-repeat: no-repeat;
    background-position-y: 200px;
    background-color: #455C6B;
    background-position-x: center;
    background-size: 50vw;
    margin:0px;
}

.hero p {
    text-align: center;
    font-size: 150px;
    color: aliceblue;
    margin: 0;
}

.hero {
    background-color: rgba(51, 76, 106, 0.7);
    border-radius: 25px;
    width: fit-content;
    padding: 10px;
    margin: 100px auto;
}

footer {
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: column;
    width:100%;
    background-color:#334C6A;
}

.foot-nav,
.footer-info {
    color:#FFF;
}

div[class^=back-img] {
    height:100vh;
    width:100%;
    background-repeat:none;
    background-size:cover;
    margin:none;
    display:flex;
    align-items:center;
    justify-content:space-around;

}

.back-img1 {
    background-image:url(images/network\ boosted.jpg)
}

.back-img2 {
    background-image:url(images/Hecker\ bosted.jpg)
}

.back-img3 {
    background-image:url(images/lock\ boosted.jpg)
}

h3,
h4 {
    margin:0;
    color:white;
    padding:10px;
    border-radius: 5px;
    background-color:#334C6A;
    font-size:4vw;
}

.footer-info {
    position:relative;
    width:150px;
    right:calc(50% - 85px);
}

footer a {
    color:white;
    text-decoration:none;
    border-right: solid rgba(255, 255, 255, 0.462) 1px;
}
footer a:last-of-type {
    border:none;
}