*{
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    color: white;
    text-decoration:none;
}
section[class^="definition"]{
    width: 100%;
    background-color: #334C6A;
    min-height: 100px;
    margin-bottom: 10vh;
}

.Title {
    background-color: #334C6A;
    color: aliceblue;
    border: solid black 6px ; 
    border-bottom: solid black 3px ; 
    text-align: center;
    font-size: 3em;
    box-sizing: border-box;
    height: 150px;
    padding: 0%;
    display: flex;
    
}

.Title a {
    margin: auto auto;

}
.Title h2 {
    margin: auto auto;
    
}

p {
    font-size: 16px;
}


.Nav {
    background-color:  #334C6A;
    color: aliceblue;
    /* border: solid black 3px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
}

.Nav a{
    box-sizing: border-box;
    border: solid black 3px;
    border-bottom: black solid 6px;
    width: calc(100% / 3);
    text-align:center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.Nav a:first-of-type{
    border-left: black solid 6px;
}

.Nav a:last-of-type{
    border-right: black solid 6px;
}


body {
    background-color: #455C6B;
    margin: 0;
}

.home-body {
    background-image: url(images/Fishing\ pole\ pole.png);
    background-repeat: no-repeat;
    background-position-y: 200px;
    background-color: #455C6B;
    background-position-x: center;
    background-size: 50vw;
    margin:0px;
}

section[class*=hero] h1 {
    text-align: center;
    font-size: 150px;
    color: aliceblue;
    margin: 0;
    background-color: rgba(51, 76, 106, 0.7);
    border-radius: 25px;
    width: fit-content;
    padding: 10px;
    height: fit-content;
}

section[class*=hero] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover,cover;
    background-repeat: no-repeat,no-repeat;
    background-position: center,center;
    padding: 100px 0;
    height: 50vh;
    margin-bottom: 5vh;
}

.about-hero {
    background-image: url(images/network\ boosted.jpg),url(images/temp.PNG);
}

.types-hero {
    background-image: url(images/Hecker\ bosted.jpg),url(images/Hecker.PNG);
}

.protect-hero {
    background-image: url(images/lock\ boosted.jpg),url(images/lock.PNG);
}

section.home-hero{
    margin-bottom: 0;
}

footer {
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: column;
    width:100%;
    background-color:#334C6A;
    margin-top: 5vh;
}

.foot-nav,
.footer-info {
    color:#FFF;
}

section[class^=back-img] {
    height:100vh;
    width:100%;
    background-repeat:no-repeat,no-repeat;
    background-size:cover,cover;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-position: left,right;
}

.back-img1 {
    background-image:url(images/network\ boosted.jpg),url(images/temp.PNG);
}

.back-img2 {
    background-image:url(images/Hecker\ bosted.jpg),url(images/hecker.PNG);
}

.back-img3 {
    background-image:url(images/lock\ boosted.jpg),url(images/lock.PNG);
}

h3,
h4 {
    margin:0;
    color:white;
    padding:10px;
    border-radius: 5px;
    background-color:#334C6A;
    font-size:4vw;
}

.footer-info {
    position:relative;
    width:300px;
    right:calc(50% - 160px);
}

footer a {
    color:white;
    text-decoration:none;
    border-right: solid rgba(255, 255, 255, 0.462) 1px;
}
footer a:last-of-type {
    border:none;
}

.defin-content {
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
    color: white;
}

.defin-content p {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

.phish-ing {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0.25rem;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    margin-top: 30px;
}

.pronounciation {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px; 
}

.creditOxford {
    padding-top: px;
    font-size: 27px;
}

.typeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #334C6A;
    margin-bottom: 10vh;
    font-size: 25px;
    color: white;
    padding: 30px;
}

.typeSection p{
    font-size: 25px;
    width: 60%;
}
.typeSection ul{
    font-size: 25px;
    width: 60%;
}

/*


uniform image size
padding to sections
*/

.typeSection img{
width: 60%;

}


.protectsection{
display: flex;
width: 100%;
justify-content: space-between;
box-sizing: border-box;
padding: 0 calc((100% - 1400px)/2);
align-items: center;
}

.protectsectiontext{
    display: flex;
    width: 600px;
    align-items: center;
    flex-direction: column;
    background-color:#334C6A;
    color:white;
    padding: 15px;
    height: 320px;
    border-radius: 10px;
}

.protectsection img{
height: 300px;
}

.protectsectiontext p{
    font-size: 25px;
}